n8n-workflows/B2B_Procesar_Orden_Compra.json
{
    "name": "B2B_Procesar_Orden_Compra",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "process-po-pdf",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "e51ebcd4-1779-42b4-bf57-bd7ef3ecbe7b",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                200
            ]
        },
        {
            "parameters": {
                "operation": "extract",
                "binaryPropertyName": "data",
                "options": {}
            },
            "id": "c1f7268-2396-48c0-bc66-5085449fb8c5",
            "name": "Extract from File",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                420,
                200
            ]
        },
        {
            "parameters": {
                "prompt": "Eres un contador experto y sistema OCR forense de alta precisión.\nAnaliza el documento PDF de la Orden de Compra y extrae todos los datos críticos según el esquema que se te provee. \nDebes inferir del texto el número de folio (Orden de Compra, P.O. Number, Pedido), el desglose completo y exhaustivo de todos los artículos de la tabla de conceptos, asegurándote de no perder matemáticas y extraer la cantidad y precio en formato de número (sin comas ni símbolos de moneda). \n\nDOCUMENTO:\n{{ $json.text }}"
            },
            "id": "bc2d3a95-a4f6-4ef3-b1ba-10e8d120a2e5",
            "name": "Information Extractor",
            "type": "@n8n/n8n-nodes-langchain.agentExtractor",
            "typeVersion": 1,
            "position": [
                640,
                200
            ]
        },
        {
            "parameters": {
                "modelName": "gpt-4o-mini",
                "options": {
                    "temperature": 0.1
                }
            },
            "id": "ed7f66de-a1b7-4a00-b6ab-addad4c67923",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                640,
                380
            ],
            "credentials": {
                "openAiApi": {
                    "id": "",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"po_number\": {\n      \"type\": \"string\",\n      \"description\": \"El número de folio o número de P.O.\"\n    },\n    \"emission_date\": {\n      \"type\": \"string\"\n    },\n    \"issuer_name\": {\n      \"type\": \"string\"\n    },\n    \"issuer_rfc\": {\n      \"type\": \"string\"\n    },\n    \"currency\": {\n      \"type\": \"string\"\n    },\n    \"subtotal\": {\n      \"type\": \"number\"\n    },\n    \"tax_total\": {\n      \"type\": \"number\"\n    },\n    \"grand_total\": {\n      \"type\": \"number\"\n    },\n    \"items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"item_code\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"quantity\": { \"type\": \"number\" },\n          \"unit_measure\": { \"type\": \"string\" },\n          \"unit_price\": { \"type\": \"number\" },\n          \"total_amount\": { \"type\": \"number\" }\n        }\n      }\n    }\n  },\n  \"required\": [\"po_number\", \"issuer_name\", \"items\", \"subtotal\", \"grand_total\"]\n}"
            },
            "id": "e2cdcf57-41fe-4f10-ae4a-cd0f6dae9834",
            "name": "Auto-fixing JSON Output Parser",
            "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
            "typeVersion": 1,
            "position": [
                840,
                380
            ]
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "id": "f51c7268-2396-48c0-bc66-5085449fb8c5",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                860,
                200
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract from File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract from File": {
            "main": [
                [
                    {
                        "node": "Information Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Information Extractor": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Information Extractor",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Auto-fixing JSON Output Parser",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Auto-fixing JSON Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "Information Extractor",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    }
}